* {
  padding: 0;
  margin: 0;
}
body {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.simple-todos-react {
  margin: 0 auto;
  max-width: 512px;
}

.simple-todos-react .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-todos-react .header .filters > * {
 margin-left: 5px;
}

 
.simple-todos-react .tasks {
  margin-top: 10px;
  list-style: none;
}
 
.simple-todos-react .tasks .task {
  display: flex;
  padding: 5px 10px;
  align-items: center;
}
.simple-todos-react .tasks .task .left > * {
  margin-right: 15px;
}
 
.simple-todos-react .tasks .task .right {
  text-align: end;
  flex-grow: 1;
}
.simple-todos-react .tasks .task .right button {
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}
 
.simple-todos-react .tasks .task.checked span {
  text-decoration: line-through;
}
 
.simple-todos-react .task-form {
  margin-top: 1rem;
  display: flex;
}
 
.simple-todos-react .task-form input {
  flex-grow: 1;
  font-size: 14px;
  padding: 3px;
  margin-right: 10px;
}

.simple-todos-react .task-form button {
  padding: 2px 4px;
}

 
.simple-todos-react .login-form {
  margin-top: 2rem;
}
 
.simple-todos-react .login-form label,
.simple-todos-react .login-form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
 
.simple-todos-react .login-form label {
  margin-bottom: .4rem;
}
.simple-todos-react .login-form h1 {
  text-align: center;
}
.simple-todos-react .login-form input {
  margin-bottom: .8rem;
}
 
.simple-todos-react .login-form button[type=submit] {
  float: right;
  
}
